body {
  color: #757575;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  letter-spacing: 0.48px;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
  padding: 0px;
}

a,
button,
label,
input {
  cursor: pointer;
}

.title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.container {
  padding: 60px 15px;
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 94px 15px;
  }
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .header {
    border-bottom: 1px #ececec solid;
  }
}

.header__container {
  position: relative;
  padding: 16px 15px;
}
@media screen and (min-width: 768px) {
  .header__container {
    padding: 21px 15px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .navigation {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navigation__menu {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 13;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 48px 40px 43px;
  background-color: #ffffff;
  height: 100vh;
}
.navigation__menu.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .navigation__menu {
    position: static;
    z-index: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0px;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigation__item {
  font-weight: 500;
  font-size: 40px;
  line-height: normal;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .navigation__item {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .navigation__item {
    font-size: 14px;
  }
}

.navigation__item:not(:last-child) {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .navigation__item:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .navigation__item--position {
    position: relative;
  }
}

.navigation__link {
  color: #000000;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: #2196F3;
}

.navigation__link--active {
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .navigation__link--active::after {
    content: " ";
    background-color: #2196F3;
    position: absolute;
    left: 0px;
    bottom: -31px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }
}
@media screen and (min-width: 768px) {
  .navigation__link--active::after {
    bottom: -32px;
  }
}

.navigation__button {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 14;
  width: 40px;
  height: 40px;
  margin: 0px;
  padding: 0px;
  fill: #000000;
  background-color: transparent;
  border: none;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .navigation__button {
    display: none;
  }
}
.navigation__button:hover, .navigation__button:focus {
  fill: #2196F3;
}

.navigation__icon-menu {
  display: block;
}
.navigation__button.is-open .navigation__icon-menu {
  display: none;
}

.navigation__icon-cross {
  display: none;
}
.navigation__button.is-open .navigation__icon-cross {
  display: block;
}

.logo {
  color: #2196F3;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 93px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

@media screen and (min-width: 768px) {
  .logo--margin {
    margin-right: 0px;
  }
}

.logo__part {
  color: #000000;
}

.logo__part--color {
  color: #ffffff;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .contacts {
    margin-left: 113px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    margin-left: 339px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacts__item {
  font-size: 34px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .contacts__item {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item {
    font-size: 14px;
    margin: auto 0;
  }
}

.contacts__item--color {
  margin-top: 32px;
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .contacts__item--color {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item--color {
    font-size: 14px;
    margin: auto 0;
    margin-right: 40px;
  }
}

.contacts__link {
  color: #2196F3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #757575;
}
@media screen and (min-width: 768px) {
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    color: #757575;
    fill: #757575;
  }
  .contacts__link:hover, .contacts__link:focus {
    color: #2196F3;
    fill: #2196F3;
  }
}

.contacts__link--color {
  color: #757575;
}
.contacts__link--color:hover, .contacts__link--color:focus {
  color: #2196F3;
  fill: #2196F3;
}

.contacts__svg {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts__svg {
    display: block;
    height: 14px;
    width: 10px;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__svg {
    height: 16px;
    width: 10px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__svg--height {
    width: 14px;
    height: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__svg--height {
    height: 12px;
    width: 16px;
  }
}

.navigation-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 64px;
}
@media screen and (min-width: 768px) {
  .navigation-social {
    display: none;
  }
}

.navigation-social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}

.navigation-social__item:not(:last-child)::after {
  content: " ";
  background-color: rgba(33, 33, 33, 0.2);
  display: block;
  margin-right: 10px;
  margin-left: 10px;
  width: 2px;
  height: 100%;
}

.navigation-social__link {
  color: #2196F3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-social__link:hover, .navigation-social__link:focus {
  color: #757575;
}

.hero {
  margin: 0 auto;
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img1/index/hero/hero-mobile-1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img1/index/hero/hero-mobile-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-color: #2F303A;
}
.hero.is-open {
  background-image: none;
  background-color: #ffffff;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img1/index/hero/hero-mobile-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img1/index/hero/hero-mobile-2x.jpg);
  }
}
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img1/index/hero/hero-mobile-3x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img1/index/hero/hero-mobile-3x.jpg);
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img1/index/hero/hero-tablet-1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img1/index/hero/hero-tablet-1x.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img1/index/hero/hero-tablet-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img1/index/hero/hero-tablet-2x.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 3), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 481px) and (min-resolution: 288dpi), screen and (min-width: 481px) and (min-resolution: 3dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img1/index/hero/hero-tablet-3x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img1/index/hero/hero-tablet-3x.jpg);
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img1/index/hero/hero-pc-1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img1/index/hero/hero-pc-1x.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img1/index/hero/hero-pc-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img1/index/hero/hero-pc-2x.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 3), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 769px) and (min-resolution: 288dpi), screen and (min-width: 769px) and (min-resolution: 3dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img1/index/hero/hero-pc-3x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img1/index/hero/hero-pc-3x.jpg);
  }
}

.navigation__menu.is-open .hero {
  opacity: 0;
}

.hero__container {
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .hero__container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin: 0 auto;
  max-width: 360px;
  color: #ffffff;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
}
@media screen and (min-width: 480px) {
  .hero__title {
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 700px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
  }
}

.btn {
  width: 200px;
  height: 50px;
  margin-top: 30px;
  padding: 10px 0px;
  color: #ffffff;
  background-color: #2196F3;
  font-weight: 700;
  text-align: center;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: #188CE8;
}

.btn__svg {
  margin-left: 25px;
}

.backdrop {
  position: fixed;
  z-index: 15;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.backdrop__is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 90vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #ffffff;
}
@media screen and (min-width: 480px) {
  .modal {
    padding: 40px;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px;
  color: #000000;
  background-color: #ffffff;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover, .modal__button:focus {
  fill: #2196F3;
}

.auth-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.auth-form__title {
  width: 100%;
  margin-bottom: 26px;
  text-align: center;
  color: #212121;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.auth-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  letter-spacing: 0.01em;
}

.auth-form__container {
  position: relative;
  margin-bottom: 10px;
}

.auth-form__svg {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-form__svg:hover, .auth-form__svg:focus, .auth-form__input:hover + .auth-form__svg, .auth-form__input:focus + .auth-form__svg {
  fill: #2196F3;
}

.auth-form__input {
  width: calc(90vw - 40px);
  height: 40px;
  padding: 12px 42px;
  border-radius: 4px;
  border: 1px rgba(33, 33, 33, 0.2) solid;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-form__container:hover .auth-form__input, .auth-form__input:hover, .auth-form__input:focus {
  border-color: #2196F3;
  outline: none;
}
@media screen and (min-width: 480px) {
  .auth-form__input {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-form__input {
    width: 448px;
  }
}

.auth-form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-size: 14px;
  letter-spacing: 0.01em;
  border-radius: 4px;
  border: 1px rgba(33, 33, 33, 0.2) solid;
  resize: none;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-form__textarea:hover, .auth-form__textarea:focus {
  border-color: #2196F3;
}
.auth-form__textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.auth-form__textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.auth-form__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.auth-form__textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.auth-form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
@media screen and (min-width: 480px) {
  .auth-form__textarea {
    width: 370px;
  }
}
@media screen and (min-width: 768px) {
  .auth-form__textarea {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-form__textarea {
    width: 448px;
  }
}

.auth-form__btn {
  margin-left: auto;
  margin-right: auto;
}

.checkbox {
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  text-align: start;
  font-size: 12px;
  letter-spacing: 0.03em;
  margin-left: 24px;
}
@media screen and (min-width: 1200px) {
  .checkbox {
    margin-left: 36px;
    font-size: 14px;
  }
}

.checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox__span {
  position: absolute;
  left: 20px;
  width: 16px;
  height: 15px;
  border: 2px #000000 solid;
  border-radius: 2px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input:focus + .checkbox__span, .checkbox__input:hover + .checkbox__span {
  border-color: #2196F3;
  outline: none;
}
.checkbox__input:checked + .checkbox__span {
  background-image: url(../img1/svg/icon-check.svg);
  background-size: contain;
  background-color: #2196F3;
  border-color: #2196F3;
  background-origin: border-box;
}
@media screen and (min-width: 480px) {
  .checkbox__span {
    left: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .checkbox__span {
    left: 52px;
  }
}

.checkbox__container {
  margin-left: 24px;
}
@media screen and (min-width: 1200px) {
  .checkbox__container {
    margin-left: 36px;
  }
}

.checkbox__link {
  color: #2196F3;
  text-decoration: underline;
}
.checkbox__link:hover, .checkbox__link:focus {
  color: #188CE8;
}

@media screen and (min-width: 1200px) {
  .benefits-section {
    padding-bottom: 0px;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .benefits {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .benefits__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: 270px;
  }
}

.benefits__svg-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  width: 100%;
  background-color: #F5F4FA;
  padding: 25px;
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .benefits__svg-container {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .benefits__svg-container {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__svg-container {
    width: 270px;
  }
}

.benefits__title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .benefits__title {
    text-align: start;
  }
}

.benefits__text {
  margin: 0px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.about-section {
  display: none;
}
@media screen and (min-width: 1200px) {
  .about-section {
    display: block;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.about__item {
  position: relative;
}

.about__img {
  display: block;
}

.about__desc-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.about__desc {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.42px;
}

.workers-section {
  background-color: #F5F4FA;
}

.worker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .worker {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.worker__img {
  display: block;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .worker__img {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .worker__img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .worker__img {
    width: 270px;
  }
}

.worker__container {
  width: 100%;
  background: #ffffff;
  padding-top: 30px;
  padding-right: auto;
  padding-left: auto;
  padding-bottom: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 480px) {
  .worker__container {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .worker__container {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .worker__container {
    width: 270px;
    padding-bottom: 30px;
  }
}

.worker__name {
  margin-bottom: 10px;
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.03em;
}

.worker__spetiality {
  text-align: center;
  font-size: 16px;
  line-height: normal;
}

.social {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: block;
  height: 44px;
  padding: 12px;
  fill: #AFB1B8;
  background-color: #ffffff;
  border-radius: 50px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  fill: #ffffff;
  background-color: #2196F3;
}

.social__link--color {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.customer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc((100vw - 60px) / 2);
  height: 92px;
  fill: #AFB1B8;
  border: 1px #AFB1B8 solid;
  border-radius: 4px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer__link:hover, .customer__link:focus {
  fill: #2196F3;
  border-color: #2196F3;
}
@media screen and (min-width: 480px) {
  .customer__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .customer__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customer__link {
    width: 170px;
  }
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
  width: 283px;
}
@media screen and (min-width: 768px) {
  .filters {
    margin-bottom: 30px;
    width: 516px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .filters {
    margin-bottom: 50px;
  }
}

.filters__item:nth-child(n+4) {
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  .filters__item:nth-child(n+4) {
    margin-top: 0px;
  }
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 300px) and (max-width: 767px) {
  .filters__item:nth-child(3) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 768px) {
  .filters__item:nth-child(3) {
    margin-right: 8px;
  }
}

.filters__btn {
  color: #000000;
  padding: 6px 22px;
  background-color: #F5F4FA;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters__btn:hover, .filters__btn:focus {
  color: #ffffff;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .project {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.project__container {
  position: relative;
  overflow: hidden;
}

.project__img {
  display: block;
  width: calc(100vw - 30px);
  height: 294px;
}
@media screen and (min-width: 480px) {
  .project__img {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .project__img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .project__img {
    width: 370px;
  }
}

.project__overlay {
  position: absolute;
  width: calc(100vw - 30px);
  height: 294px;
  padding-top: 77px;
  padding-right: 24px;
  padding-left: 24px;
  top: 0px;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  -webkit-transform: translatey(101%);
          transform: translatey(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__link:hover .project__overlay, .project__link:focus .project__overlay {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}
@media screen and (min-width: 480px) {
  .project__overlay {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .project__overlay {
    width: 354px;
    padding-top: 49px;
  }
}
@media screen and (min-width: 1200px) {
  .project__overlay {
    width: 370px;
    padding-top: 63px;
  }
}

.project__text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.project-desc {
  width: calc(100vw - 30px);
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__link:hover .project-desc, .project__link:focus .project-desc {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 480px) {
  .project-desc {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .project-desc {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .project-desc {
    width: 370px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project__item:nth-child(1) .project-desc {
    height: 146px;
  }
}

.project-desc__title {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-desc__text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
}

.footer {
  background-color: #2F303A;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer__adress {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media screen and (min-width: 768px) {
  .footer__form {
    width: 450px;
  }
}

.footer__title {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 60px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .footer__title {
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .footer__title--margin {
    margin-top: 0px;
  }
}

.footer__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  fill: #ffffff;
  padding: 10px 28px 10px 43px;
  line-height: 1.88;
}
@media screen and (min-width: 1200px) {
  .footer__btn {
    margin-top: 0px;
    margin-left: 20px;
  }
}

.adress {
  margin-top: 28px;
  margin-bottom: 12px;
}

.adress__link {
  color: #ffffff;
  font-size: 14px;
  line-height: normal;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__link:hover, .adress__link:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-contacts {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 12px;
}

.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: #ffffff;
}

.mini-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .mini-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.mini-form__input {
  width: calc(100vw - 30px);
  height: 50px;
  padding: 15px 16px;
  background: inherit;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0, 3em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px rgba(255, 255, 255, 0.3) solid;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mini-form__input:hover, .mini-form__input:focus {
  border-color: rgba(255, 255, 255, 0.6);
  outline: none;
}
.mini-form__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.48px;
}
.mini-form__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.48px;
}
.mini-form__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.48px;
}
.mini-form__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.48px;
}
.mini-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.48px;
}
@media screen and (min-width: 480px) {
  .mini-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .mini-form__input {
    width: 358px;
  }
}/*# sourceMappingURL=main.css.map */