.checkbox{
    height: 24px;
    display: flex;
    align-items: center;
    text-align: start;
    margin-left: 24px;
    @media screen and (min-width:1200px ) {
        margin-left: 36px;
        font-size: 14px;
    }
}

.checkbox__container{
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 0.03em;
}

.checkbox__input{
    appearance:none;
}   

.checkbox__span{
    position: absolute;
    top: 4px;
    left: 0px;
    width: 16px;
    height: 15px;
    border: 2px $logo-color solid;
    border-radius: 2px;
    transition: border-color $cubic, ;

    .checkbox__input:focus + &,
    .checkbox__input:hover + &{
        border-color: $logo-part-color;
        outline: none;
    }
    
    .checkbox__input:checked + &{
    background-image: url(../img1/svg/icon-check.svg);
    background-size: contain;
    background-color:$logo-part-color;
    border-color:$logo-part-color;
    background-origin: border-box;
    }

    // @media screen and (min-width:480px ) {
    //     left: 40px;
    // }

    @media screen and (min-width:1200px ) {
        left: 12px;
    }
}

.checkbox__link{
    margin-left: 2px;
    display: inline;
    color: $logo-part-color;
    text-decoration: underline;

    &:hover,
    &:focus{
        color: $btn-hover-color;
    }

    @media screen and (min-width:1200px ) {
        font-size: 14px;
    }
}