.customer{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.customer__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width:calc( ( 100vw - 60px ) / 2 );
    height: 92px;
    fill:$social-primary-color;
    border: 1px $social-primary-color solid;
    border-radius: 4px;
    transition: fill $cubic,
    border-color $cubic;

    &:hover,
    &:focus{
        fill:$logo-part-color;
        border-color:$logo-part-color;
    }

    @media screen and (min-width:480px){
        width: 210px;
    }

    @media screen and (min-width:768px){
        width: 226px;
    }
    
    @media screen and (min-width:1200px){
        width: 170px;
    }
}
