.footer{
    background-color:$hero-background;
}

.footer__container{
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width:768px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-around;
    }

    @media screen and (min-width:1200px) {
        justify-content: space-between;
    }
}

.footer__adress{
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width:1200px) {
        align-items: start;
    }
}


.footer__form{
    @media screen and (min-width:768px) {
        width: 450px;
    }

    @media screen and (min-width:768px) {
        width: auto;
    }
}


.footer__title{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 60px;
    color:$primary-background-color;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    
    @media screen and (min-width:1200px) {
        text-align: start;
    }
}

.footer__title--margin{
    @media screen and (min-width:768px) {
        margin-top: 0px;
    }
}

.footer__btn{
    display: flex;
    align-items: center;
    margin-top: 20px;
    fill:$primary-background-color;
    padding: 10px 28px 10px 43px;
    line-height: 1.88;

    @media screen and (min-width:1200px) {
        margin-top: 0px;
        margin-left: 20px;
    }
}