.header{
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;

    @media screen and (min-width:768px) {
    border-bottom: 1px $secondary-border-color solid;
    padding-top: 21px;
    padding-bottom: 21px;
    }

    @media screen and (min-width:1200px){
        padding-top: 24px;
        padding-bottom: 25px;
    }
}