.mini-form{
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width:1200px) {
        flex-direction: row;
    }
}

.mini-form__input{
    width: calc( 100vw - 30px );
    height: 50px;
    padding: 15px 16px;
    background: inherit;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0,03em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px $mini-form-color solid;
    transition: border-color $cubic;
    caret-color: $primary-border-color;
    color: $primary-border-color;

    &:hover,
    &:focus{
        border-color: $contacts-text-color;
        outline: none;
    }
    
    &::placeholder{
        color:$contacts-text-color;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.48px;
    }
    
    @media screen and (min-width:480px ) {
        width: 450px;
    }

    @media screen and (min-width:1200px) {
        width: 358px;
    }
}